.room-service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 1rem;
  width: 100%;
  justify-items: center; /* centre les boutons dans chaque colonne */
  margin: 1rem 0;
}
