<!-- Home page : contient uniquement les boutons (le header reste à la racine App) -->
<div class="room-service-container">
  <app-room-service
    #roomA
    name="Room A"
    imageUrl="assets/Room_Service.png"
    route="/room-service-page"
  ></app-room-service>

  <app-room-service
    #roomB
    name="Room B"
    imageUrl="assets/Promenade_Chien.png"
    route="/room-service-page"
  ></app-room-service>

  <app-room-service
    #roomC
    name="Room C"
    imageUrl="assets/Massage.jpg"
    route="/room-service-page"
  ></app-room-service>

  <app-room-service
    #roomC
    name="Room D"
    imageUrl="assets/BabySitting.PNG"
    route="/room-service-page"
  ></app-room-service>
</div>
